*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    height: 100vh;
    background: cornflowerblue;
}
#openBtn{
    border: 0;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
}
.modal-container{
    /* display: none; */
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vw;
    /* Enable scroll if needed */
     overflow: auto;
}
.modal-content{
    width: 400px;
    background-color: #fefefe;
    margin: auto;
    margin-top: 100px;
    /* animation: animatetop 0.5s; */
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0,3 );
}
.modal-header{
 padding: 2px 16px;
 background-color: blueviolet;
 color: #fefefe;
 justify-content: space-between;
}
.modal-header .fa-xmark{
    font-size: 35px;
}
.modal-header .fa-xmark:hover{
    color: rgb(39,39,39);
    
}
.modal-body{
    padding: 15px 20px;
    text-align: justify;
    line-height: 1.5rem;
}
@keyframes animatetop{
    from{
        margin-top: -300px;
        opacity: 0;
    }
    to{
        margin-top: 100px;
        opacity: 1;
    }
}
